/* width is at 1440 for figma */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root
{
  --black: #333333;
  --white: #ffffff;
  --blue: #032682;
  --gray: #BABABA;
  --blueTransparent: rgba(3,38,130,0.8);
  --lightBlue: #BCCDFB;
  --lightBlueLink:#0865D2;
  --lightBlueFooter: #708DD8;
  --lightBlueTransparent: rgba(112,141,216,0.8);
  --lightBlueBackground: #ebeffb;
  --transition: all 0.25s ease-in-out;
}

body {
 margin: 50px 0 0 0;
 font-family: 'Montserrat', sans-serif;
}

.max-width{
  max-width: 1200px;
  margin: 0 auto;
}

#scrollAbout{
  scroll-margin-top: 50px;
  /* scroll-snap-margin-top: 50px; */
}

#scrollServices{
  scroll-margin-top: 50px;
  /* scroll-snap-margin-top: 50px; */
}

#scrollContact{
  scroll-margin-top: 50px;
  /* scroll-snap-margin-top: 50px; */
}

a:hover{
cursor: pointer;
}

/* ------ Header Nav Item ------- */
.header-nav{
 display: flex;
 position: fixed;
 top: 0;
 height: 50px;
 width: 100%;
 z-index: 4;
 background-color: var(--white);
}

.header-header{
 position: relative;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width: 100%;
}

.header-header img{
  height: 50px;
  margin-left: 20px;
}

.header-nav-menu{
 position: absolute;
 top: 50px;
 height: 0px;
 overflow-y: hidden;
 background-color: var(--blueTransparent);
 width: 100%;
 transition-property: height;
 transition-duration: 0.5s;
 transition-timing-function: linear;
 display: flex;
 flex-direction: column;
}

.header-nav-menu.active{
  height: 100vh;
}

.nav-item{
 padding: 20px;
 opacity: 1;
 background-color: var(--lightBlueBackground);
 display: flex; 
 align-items: center;
 justify-content: center;
}

.nav-item-a{
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}


/* ---- Hambuger ------- */ 

.hamburger{
 /* border: solid gold; */
 margin-right: 20px;
}

.hamburger span{
  display: block;
  width: 40px;
  height: 3px;
  background-color: var(--blue);
  margin: 8px 0px;
  transition: var(--transition);
}

.hamburger.active span:nth-of-type(1) {
  transform: rotate(45deg) translateX(13px) translateY(-3px);
  margin:-9px;
}

.hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.active span:nth-of-type(3) {
  transform: rotate(-45deg) translateX(6px) translateY(10px);
  margin:-9px;
}


/* ------ Header Hero ------ */

.header-hero-background{
  background-color: var(--lightBlueBackground);
}

.header-hero{
  /* border: solid green; */
  display: flex;  
  flex-direction: column;
}

.header-hero-text{
  width: 100%;
}

.header-hero-text h1{
  font-weight: 800;
  color: var(--blue);
  margin: 60px 20px 60px 20px;
  font-size: 36px;
}

.header-hero-text span{
  font-weight: 800;
  margin: 20px 20px 40px 0;
  font-size: 26px;
  color: var(--black);
  display: block;
}

.header-hero-image{
  /* border: solid blue; */
  width: 100%;
}



/* ------- Main Acquisitions -------- */

.main-acquisition{
 /* border: solid pink; */
 display: flex;
 flex-direction: column;
 padding: 60px 0;
}

.main-acquisition-logo-pair{
  /* border: solid green; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.main-acquisition-logo-pair img{
  width: 20vw;
  padding: 20px;
}

.main-acquisition-text{
 /* border: solid blue; */
 width: 100%;
}

.main-acquisition-text h3{
  color: var(--blue);
  margin: 20px;
}

.main-acquisition-text p{
  color: var(--brack);
  margin: 0 20px 20px 20px;
}
 



/* -------- Main Testimonial --------- */

.main-testimonial{
  /* border: solid orange; */
  background-image: linear-gradient(var(--blueTransparent),var(--blueTransparent)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeuLh5RyUR6FDYZi9MQeD7RoQfU90cY67quA&usqp=CAU");
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}

.main-testimonial-stars{
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.main-testimonial-quote{
  /* border: solid purple; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
}

.main-testimonial-quote h3{
  padding: 0 20px;
  margin: 0 0 20px 0;
} 

.main-testimonial-quote-reference{
  /* border: solid yellow; */
  text-align: center;
  color: var(--white);
  margin: 10px 0 20px 0;
}

.main-testimonial-quote-reference p{
 margin: 0;
}


/* ------ Main About ------- */

.main-about-background{
 background-color: var(--lightBlueBackground);
 padding: 60px 0;
}

.main-about{
  /* border: solid green; */
  display: flex;
  flex-direction: column;

}

.main-about-text{
  /* border: solid pink; */
  width: 100%;
}

.main-about-text h2{
  color: var(--blue);
  padding: 20px;
  margin-top: 0;
}

.main-about-text p{
  color: var(--black);
  padding: 0 20px;
}

.main-about-underline{
  width: 50px;
  height: 6px;
  background-color: var(--lightBlue);
  margin-left: 20px;
}

.main-about-image{
  width: 100%;
  display: flex;
  align-items: center;
}

.main-about-image img{
  margin: 20px auto;
  border-radius: 20px;
}



/* ----- Main Services ------ */

.main-services{
  padding: 0 0 40px 0;
}

.main-services-title{
  /* border: solid red; */
  text-align: center;
}

.main-services-title h2{
  color: var(--blue);
  margin: 80px 0 40px 0;
}

.main-services-content{
  /* border: solid blue; */
  display: flex;
  flex-direction: column-reverse;
}

.main-services-button-container{
  width: 100%;
}

.main-services-button-container img{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.main-services-button-container h3{
 padding: 5px 10px 5px 20px;
}

.main-services-button{
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 20px;
  padding-left: 10px;
}

.main-services-button h3{
 color: var(--black);
}

.main-services-description-container{
  width: 100%;
  /* border: solid brown; */
  text-align: center;
}

.main-services-description{
  /* border: solid orange; */
  padding: 20px;
}

.main-services-description img{
  border-radius: 100%;
  height: 100px;
  width: 100px;
  padding: 10px;
  transition: var(--transition);
}

.main-services-description h2{
  color: var(--black);
  transition: var(--transition);
}

.main-services-description p{
  color: var(--black);
  transition: var(--transition);
}

.main-services-connect{
  padding: 20px 20px 40px 20px;
}

.main-services-connect h3{
  margin: 0 0 20px 0;
}

.main-services-connect a{
  background-color: var(--blue);
  padding: 6px 16px;
  color: var(--white);
  text-decoration: none;
  border-radius: 100px;
}


/* ----- Main Locations ------ */

/* .main-locations{
  border: solid red;
} */



/* -------- Footer Testimonial --------- */

.footer-testimonial{
  /* border: solid orange; */
  background-image: linear-gradient(var(--lightBlueTransparent),var(--lightBlueTransparent)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeuLh5RyUR6FDYZi9MQeD7RoQfU90cY67quA&usqp=CAU");
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}

.footer-testimonial-stars{
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.footer-testimonial-quote{
  /* border: solid purple; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
}

.footer-testimonial-quote h3{
  padding: 0 20px;
  margin: 0 0 20px 0;
} 

.footer-testimonial-quote-reference{
  /* border: solid yellow; */
  text-align: center;
  color: var(--white);
  margin: 10px 0 20px 0;
}

.footer-testimonial-quote-reference p{
 margin: 0;
}



/* ---- Footer Blogs ----- */

.footer-blog{
  padding: 50px 20px 30px 20px;
}

.footer-blog-title{
  text-align: center;
}

.footer-blog-title h2{
  color: var(--blue);
  margin-bottom: 40px;
}

.footer-all-blog-container{
  /* border: solid red; */
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.footer-blog-container{
  /* border: solid blue; */
  min-width: 250px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 10px;
  box-shadow: 1px 2px 4px 1px var(--gray);
}

.footer-blog-container img{
 width: 250px;
}

.footer-blog-container-text-flex{
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-between;
}

.footer-blog-container p{
  color: var(--black);
  padding: 10px;
  margin: 10px 0 0 0;
}

.footer-blog-container a{
  color: var(--lightBlueLink);
  margin: 10px;
}

/* ----- Contact Us ----- */

.footer-contact{
  padding: 40px 0;
  text-align: center;
}

.footer-contact h2{
  color: var(--blue);
}



/* ----- Footer ------ */

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0 40px 0;
  /* border: solid red; */
}

.footer-info-top{
  /* border: solid green; */
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--lightBlueBackground);
  flex-direction: column;
  padding: 40px 0 80px 0;
}

.footer-info-top h3{
 color: var(--lightBlueFooter);
 margin-bottom: 0;
 margin-top: 40px;
 padding: 0 20px;
}

.footer-info-top a{
  color: var(--blue);
  font-weight: bolder;
 }

.footer-info-bottom{
  /* border: solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0 20px 0;
}

.footer-info-bottom img{
  width: 20vw;
  margin: 10px;
}

.footer-info-bottom a{
  margin: 10px;
  color: var(--gray);
}


/* ----- Media queries ----- */

@media all and (min-width: 800px) {

  .header-header img{
    margin-left: 40px;
  }

  .header-nav-menu{
    position: static;
    height: auto;
    overflow-y: visible;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-around;
    transition-duration: 0s;
   }

   .nav-item{
    background-color: var(--white);
   }

   .header-nav-menu.active{
    height: 50px;
  }
  
   .hamburger {
    display: none;
  }

  .header-hero{
    flex-direction: row; 
  }

  .header-hero-text{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }

  .header-hero-text h1{
    margin: 40px 40px 20px 40px;
    font-size: 40px;
  }
  
  .header-hero-text span{
    margin: 20px 40px 40px 0;
    font-size: 30px;
  }

  .header-hero-image{
    width: 50vw;
  }

  .main-acquisition{
    flex-direction: row;
   }
   
   .main-acquisition-logo-pair{
     width: 50vw;
   }

   .main-acquisition-logo-pair img{
    width: 150px;
   }
   
   .main-acquisition-text{
    width: 50vw;
   }

   .main-acquisition-text h3{
    margin: 20px 40px 20px 20px;
  }
  
  .main-acquisition-text p{
    margin: 0 40px 20px 20px;
  }

   .main-testimonial-quote{
    width: 50vw;
   }

   .main-about{
    flex-direction: row;
   }
  
  .main-about-text{
    width: 55vw;
  }

  .main-about-text h2{
    color: var(--blue);
    padding: 20px 40px;
  }
  
  .main-about-text p{
    color: var(--black);
    padding: 0 40px;
  }  

  .main-about-underline{
    margin-left: 40px;
  }
  
  .main-about-image{
    width: 45vw;
  }

  .main-services-content{
    flex-direction: row;
    padding: 0 80px;
    margin-bottom: 20px;
  }

  .main-services-button-container{
    width: 40vw;
  }

  .main-services-description-container{
    width: 60vw;
    border-left: solid var(--lightBlue);
    padding-right: 20px;
    margin-left: 20px
  }

  .footer-testimonial-quote{
    width: 50vw;
  }

  .footer-info-top{
    display: flex;
    align-items: center;
  }
  
  .footer-info-bottom{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer-info-bottom img{
    width: 10vw;
    margin: 10px 40px;
  }

}