/* width is at 1440 for figma */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root
{
  --black: #333333;
  --white: #ffffff;
  --blue: #032682;
  --blueTransparent: rgba(3,38,130,0.8);
  --lightBlue: #BCCDFB;
  --lightBlueTransparent: rgba(112,141,216,0.8);
  --lightBlueBackground: #FBFCFF;
  --transition: all 0.25s ease-in-out;
}

body {
 margin: 50px 0 0 0;
 font-family: 'Montserrat', sans-serif;
}

.max-width{
  max-width: 1200px;
  margin: 0 auto;
}

#scrollAbout{
  scroll-margin-top: 50px;
  /* scroll-snap-margin-top: 50px; */
}

#scrollServices{
  scroll-margin-top: 50px;
  /* scroll-snap-margin-top: 50px; */
}

#scrollContact{
  scroll-margin-top: 50px;
  /* scroll-snap-margin-top: 50px; */
}


/* ------ Header Nav Item ------- */
.header-nav{
 display: flex;
 position: fixed;
 top: 0;
 height: 50px;
 width: 100%;
 z-index: 4;
 background-color: var(--white);
}

.header-header{
 position: relative;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width: 100%;
}

.header-header img{
  height: 50px;
  margin-left: 20px;
}

.header-nav-menu{
 position: absolute;
 top: 50px;
 height: 0px;
 overflow-y: hidden;
 background-color: var(--blueTransparent);
 width: 100%;
 transition-property: height;
 transition-duration: 0.5s;
 transition-timing-function: linear;
 display: flex;
 flex-direction: column;
}

.header-nav-menu.active{
  height: 100vh;
}

.nav-item{
 padding: 10px 20px;
 opacity: 1;
 background-color: var(--lightBlueBackground);
 display: flex; 
 align-items: center;
 justify-content: center;
}

.nav-item-a{
  text-decoration: none;
  color: var(--black);
}


/* ---- Hambuger ------- */ 

.hamburger{
 /* border: solid gold; */
 margin-right: 20px;
}

.hamburger span{
  display: block;
  width: 40px;
  height: 3px;
  background-color: var(--blue);
  margin: 8px 0px;
  transition: var(--transition);
}

.hamburger.active span:nth-of-type(1) {
  transform: rotate(45deg) translateX(13px) translateY(-3px);
  margin:-9px;
}

.hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.active span:nth-of-type(3) {
  transform: rotate(-45deg) translateX(6px) translateY(10px);
  margin:-9px;
}


/* ------ Header Hero ------ */


.header-hero{
  border: solid green;
  display: flex;  
  flex-direction: column;
  background-color: var(--lightBlueBackground);
}

.header-hero-text{
  width: 100%;
}

.header-hero-text h2{
  font-weight: 800;
  color: var(--blue);
}

.header-hero-text h3{
  font-weight: 800;
}

.header-hero-image{
  border: solid blue;
  width: 100%;
}



/* ------- Main Acquisitions -------- */

.main-acquisition{
 border: solid pink;
 display: flex;
 flex-direction: column;
}

.main-acquisition-logo-pair{
  border: solid green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.main-acquisition-logo-pair img{
  width: 20vw;
}

.main-acquisition-text{
 border: solid blue;
 width: 100%;
}



/* -------- Main Testimonial --------- */

.main-testimonial{
  border: solid orange;
  background-image: linear-gradient(var(--blueTransparent),var(--blueTransparent)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeuLh5RyUR6FDYZi9MQeD7RoQfU90cY67quA&usqp=CAU");
  background-size: cover;
  background-position: center;
}

.main-testimonial-stars{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.main-testimonial-quote{
  border: solid purple;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
}

.main-testimonial-quote-reference{
  border: solid yellow;
  text-align: center;
  color: var(--white);
}


/* ------ Main About ------- */

.main-about-background{
 background-color: var(--lightBlueBackground);
}

.main-about{
  border: solid green;
  display: flex;
  flex-direction: column;

}

.main-about-text{
  border: solid pink;
  width: 100%;
}

.main-about-text h3{
  color: var(--blue);
  padding: 20px;
}

.main-about-text p{
  color: var(--black);
  padding: 0 20px;
}

.main-about-underline{
  width: 50px;
  height: 6px;
  background-color: var(--lightBlue);
  margin-left: 20px;
}

.main-about-image{
  width: 100%;
  display: flex;
  align-items: center;
}

.main-about-image img{
  margin: auto;
  border-radius: 20px;
}



/* ----- Main Services ------ */

.main-services{
  border: solid aqua;
}

.main-services-title{
  border: solid red;
  text-align: center;
}

.main-services-title h3{
  color: var(--blue);
}

.main-services-content{
  border: solid blue;
  display: flex;
  flex-direction: column-reverse;
}

.main-services-button-container{
  width: 100%;
}

.main-services-button-container img{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.main-services-button-container h3{
 padding: 5px 0 5px 20px;
}

.main-services-button{
  border: solid sandybrown;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.main-services-button h3{
 color: var(--black);
}

.main-services-description-container{
  width: 100%;
  border: solid brown;
  text-align: center;
}

.main-services-description{
  border: solid orange;
  padding: 20px;
}

.main-services-description img{
  border-radius: 100%;
  height: 100px;
  width: 100px
}

.main-services-description h3{
  color: var(--black);
}

.main-services-description p{
  color: var(--black);
}

.main-services-connect{
  padding: 20px;
}

.main-services-connect h3{
  margin: 0;
}


/* ----- Main Locations ------ */

.main-locations{
  border: solid red;
}



/* -------- Footer Testimonial --------- */

.footer-testimonial{
  border: solid orange;
  background-image: linear-gradient(var(--lightBlueTransparent),var(--lightBlueTransparent)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeuLh5RyUR6FDYZi9MQeD7RoQfU90cY67quA&usqp=CAU");
  background-size: cover;
  background-position: center;
}

.footer-testimonial-stars{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.footer-testimonial-quote{
  border: solid purple;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
}

.footer-testimonial-quote-reference{
  border: solid yellow;
  text-align: center;
  color: var(--white);
}



/* ---- Footer Blogs ----- */

.footer-blog{
  border: solid;
}

.footer-blog-title{
  text-align: center;
}

.footer-blog-title h3{
  color: var(--blue);
}

.footer-all-blog-container{
  border: solid red;
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.footer-blog-container{
  border: solid blue;
  min-width: 250px;
}

/* ----- Contact Us ----- */

.footer-contact{
  text-align: center;
}

.footer-contact h3{
  color: var(--blue);
}



/* ----- Footer ------ */

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid red;
}

.footer-info-top{
  border: solid green;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--lightBlueBackground);
}

.footer-info-top h3{
 color: var(--blue);
}

.footer-info-bottom{
  border: solid orange;
  display: flex;
  flex-direction: column;
}


/* ----- Media queries ----- */

@media all and (min-width: 800px) {


  .header-hero{
    flex-direction: row; 
  }

  .header-hero-text{
    width: 50vw;
    padding: 40px;
  }

  .header-hero-image{
    width: 50vw;
  }

  .main-acquisition{
    flex-direction: row;
   }
   
   .main-acquisition-logo-pair{
     width: 50vw;
   }

   .main-acquisition-logo-pair img{
    width: 200px;
   }
   
   .main-acquisition-text{
    width: 50vw;
   }

   .main-testimonial-quote{
    width: 50vw;
   }

   .main-about{
    flex-direction: row;
   }
  
  .main-about-text{
    width: 55vw;
  }
  
  .main-about-image{
    width: 45vw;
  }


  .main-services-content{
    flex-direction: row;
  }

  .main-services-button-container{
    width: 40vw;
  }

  .main-services-description-container{
    width: 60vw;
  }

  .footer-testimonial-quote{
    width: 50vw;
  }

  .footer-info-top{
    display: flex;
    align-items: center;
  }
  
  .footer-info-bottom{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }


  .header-header img{
    margin-left: 40px;
  }

  .header-nav-menu{
    position: static;
    height: auto;
    overflow-y: visible;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-around;
    transition-duration: 0s;
   }

   .nav-item{
    background-color: var(--white);
   }

   .header-nav-menu.active{
    height: 50px;
  }
  
   .hamburger {
    display: none;
  }

}