/* width is at 1440 for figma */

:root
{
  --black: #4d4d4d;
  --white: #f7f7f7;
  --lightBlue: #c1d6db;
  --transition: all 0.25s ease-in-out;
}

body {
 margin: 0;
}

/* ------ Header Nav Item ------- */
.header-nav{
 display: flex;
 position: fixed;
 top: 0;
 height: 50px;
 width: 100%;
 z-index: 4;
 background-color: var(--white);
}

.header-header{
 position: relative;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width: 100%;
}

.header-nav-menu{
 position: absolute;
 top: 50px;
 height: 0px;
 overflow-y: hidden;
 background-color: rgba(44, 33, 67, 0.6);
 width: 100%;
 transition-property: height;
 transition-duration: 0.5s;
 transition-timing-function: linear;
 display: flex;
 flex-direction: column;
}

.header-nav-menu.active{
  height: 100vh;
}

.nav-item{
 padding: 10px 20px;
 opacity: 1;
 background-color: var(--lightBlue);
 display: flex; 
 align-items: center;
 justify-content: center;
}


/* ---- Hambuger ------- */ 

.hamburger{
 border: solid gold;
}

.hamburger span{
  display: block;
  width: 50px;
  height: 3px;
  background-color: green;
  margin: 8px 0px;
  transition: var(--transition);
}

.hamburger.active span:nth-of-type(1) {
  transform: rotate(45deg) translateX(13px) translateY(-3px);
  margin:-9px;
}

.hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.active span:nth-of-type(3) {
  transform: rotate(-45deg) translateX(6px) translateY(10px);
  margin:-9px;
}


/* ------ Header Hero ------ */


.header-hero{
  padding-top: 50px; 
  border: solid green;
  display: flex;  
  flex-direction: column;
}

.header-hero-text{
  width: 100%;
}

.header-hero-image{
  border: solid blue;
  width: 100%;
}



/* ------- Main Acquisitions -------- */

.main-acquisition{
 border: solid pink;
 display: flex;
 flex-direction: column;
}

.main-acquisition-logo-pair{
  border: solid green;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.main-acquisition-text{
 border: solid blue;
 width: 100%;
}


/* -------- Main Testimonial --------- */

.main-testimonial{
  border: solid orange;
}

.main-testimonial-stars{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.main-testimonial-quote{
  border: solid purple;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main-testimonial-quote-reference{
  border: solid yellow;
  text-align: center;
}


/* ------ Main About ------- */

.main-about{
  border: solid green;
  display: flex;
  flex-direction: column;

}

.main-about-text{
  border: solid pink;
  width: 100%;
}

.main-about-underline{
  border: solid blue;
  width: 50px;
  height: 6px;
}

.main-about-image{
  width: 100%;
}


/* ----- Main Services ------ */

.main-services{
  border: solid aqua;
}

.main-services-title{
  border: solid red;
  text-align: center;
}

.main-services-content{
  border: solid blue;
  display: flex;
  flex-direction: column-reverse;
}

.main-services-button-container{
  width: 100%;
}

.main-services-button{
  border: solid sandybrown;
  display: flex;
}

.main-services-description-container{
  width: 100%;
  border: solid brown;
  text-align: center;
}

.main-services-description{
  border: solid orange;
}


/* ----- Main Locations ------ */

.main-locations{
  border: solid red;
}



/* -------- Footer Testimonial --------- */

.footer-testimonial{
  border: solid orange;
}

.footer-testimonial-stars{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.footer-testimonial-quote{
  border: solid purple;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer-testimonial-quote-reference{
  border: solid yellow;
  text-align: center;
}



/* ---- Footer Blogs ----- */

.footer-blog{
  border: solid;
}

.footer-blog-title{
  text-align: center;
}

.footer-all-blog-container{
  border: solid red;
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.footer-blog-container{
  border: solid blue;
  min-width: 250px;
}


/* ----- Media queries ----- */

@media all and (min-width: 520px) {

  .header-hero{
    flex-direction: row; 
  }

  .header-hero-text{
    width: 50vw;
  }

  .header-hero-image{
    width: 50vw;
  }

  .main-acquisition{
    flex-direction: row;
   }
   
   .main-acquisition-logo-pair{
     width: 50vw;
   }
   
   .main-acquisition-text{
    width: 50vw;
   }

   .main-testimonial-quote{
    width: 50vw;
   }

   .main-about{
    flex-direction: row;
   }
  
  .main-about-text{
    width: 55vw;
  }
  
  .main-about-image{
    width: 45vw;
  }


  .main-services-content{
    flex-direction: row;
  }

  .main-services-button-container{
    width: 40vw;
  }

  .main-services-description-container{
    width: 60vw;
  }

  .footer-testimonial-quote{
    width: 50vw;
  }


}

@media all and (min-width: 770px) {

  .header-nav-menu{
    position: static;
    height: auto;
    overflow-y: visible;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-around;
    transition-duration: 0s;
   }

   .nav-item{
    background-color: var(--white);
   }

   .header-nav-menu.active{
    height: 50px;
  }
  
   .hamburger {
    display: none;
  }

}